body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  margin: 0;
}

.app {
  padding: 20px;
}

h1 {
  color: #ff3b3b;
}

.form {
  margin: 20px auto;
}

input {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 92%;
  padding: 12px;
  margin: 5px 0;
  border: none;
  background: #ff3b3b;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #e60000;
}

.poster {
  margin-top: 20px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}